/* model title */
#pro-title {
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 80px;
}
#pro-title > p {
    margin: 30px auto;
    font-size: 45px;
}
#pro-title > div {
    width: 120px;
    height: 2px;
    background-color: #f44336;
    margin: 0 auto;
}
#pro-tab {
    width: 1050px;
    height: 45px;
    margin: 50px auto;
    display: flex;
}
#pro-tab > li {
    flex: 1;
    margin: 0 20px;
}
#pro-tab > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #333;
    padding: 6px 12px;
    font-size: 21px;
    transition: .4s;
}
#pro-tab > li > a:hover,
#pro-tab > li > a.active {
    color: #f44336;
    border-color: #f44336;
}

#pro-container {
    width: 100%;
    margin: 50px 0;
}
    .pro-container-in {
        width: 1050px;
        height: auto;
        min-height: 120px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .profile {
            width: 220px;
            height: 330px;
            margin: 20px;
        }

        .profile.group {
            width: 480px;
        }

        .profile > a {
            text-align: center;
            display: block;
            margin-top: 6px;
        }
    
        .profile-box {
            width: 100%;
            height: 290px;
            overflow: hidden;
            position: relative;
        }
            .profile-box > img {
                width: 100%;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
            }

            .profile-box > img.p-up {
                top: -20px;
            }

            .profile-box > img.p-close-up {
                width: 150%;
                left: -55px;
            }

            .profile-box > .cover {
                width: 100%;
                height: 100%;
                background-color: rgba(244,67,54,.6);
                border: 6px solid #f44336;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                opacity: 0;
                transition: .4s;
                cursor: pointer;
                position: relative;
            }

            .profile-box > .cover:hover {
                opacity: 1;
            }

                .cover > a {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                }

                .cover > p {
                    position: absolute;
                    color: #fff;
                    right: 30px;
                    bottom: 25px;
                }

/* 개인 프로필 */
#model-top-menu {
    width: 700px;
    height: 50px;
    background-color: #f44336;
    color: #fff;
    border-radius: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 300;
}
    #model-top-menu > li {
        cursor: pointer;
        margin: 0 30px;
    }

/* model - profile */
#model-profile {
    width: 100%;
    height: 850px;
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
    display: flex;
    padding-top: 50px;
}  
    #model-profile > div{
        flex: 1;
    }
    /* .model-name {
        text-align: center;
        margin: 30px auto;
    }
    .model-name > h3 {
        font-size: 52px;
    }
    .line {
        width: 120px;
        height: 1px;
        background-color: #777;
        margin: 0 auto;
    } */
    .model-profile-imgs {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .model-profile-in {
        width: 100%;
        height: 100%;
        position: relative;
    }
        .model-profile-img {
            width: 100%;
            /* height: 100%; */
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        .model-profile-left,
        .model-profile-right {
            position: absolute;
            bottom: 20px;
            left: 45%;
            font-size: 30px;
            cursor: pointer;
            color: #fff;
        }
        .model-profile-right {
            left: 55%;
        }
    .model-boxes {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
    }
    .model-boxes > .model-box {
        width: auto;
        height: 125px;
    }
        .model-box > img {
            width: 100%;
            height: auto;
        }

/* model- career  */
#model-career {
    width: 1200px;
    margin: 30px auto;
    padding-top: 80px;
}
    .model-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .model-info > div{
        width: 400px;
        margin-top: 150px;
        margin-right: 200px;
    }
    .model-info-name {
        font-size: 52px;
        line-height: 1.2;
        margin-bottom: 60px;
        text-align: center;
        color: #333;
        font-size: 50px;
    }
    .model-info-name > span {
        color: #f44336;
        font-size: 25px;
    }
    .model-info-des {
        padding-top: 10px;
    }   
        .model-info-des > div  {
            display: flex;
            margin-bottom: 12px;
        }
        .model-info-des > div > span{
            flex: 1;
        }
        .model-info-des > div > p {
            flex: 2.5;
            text-align: right;
            word-break: break-all;
        }

        .model-info-des > button {
            width: 100%;
            height: 45px;
            border: 1px solid #f44336;
            border-radius: 7px;
            margin-top: 50px;
            color: #f44336;
            font-size: 15px;
            transition: .4s;
        }

        .model-info-des > button:hover {
            background-color: #f44336;
            color: #fff;
        }

        .model-info-des > button > i {
            margin-left: 6px;
        }

.model-careers  > h2 {
    font-size: 25px;   
    margin-left: 20px;
    margin-bottom: 50px;
    font-weight: 500;
}
    .model-career-boxes > h3 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .model-career-boxes > h3 >span {
        margin-right: 12px;
        font-size: 12px;
    }
        .model-career-box {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 0 15px;
            margin-bottom: 40px;
        }
        .model-career-box > li {
            width: 370px;
            padding: 12px 6px;
            border-top: 1px solid #ddd;
            word-break: break-all;
            color: #636363;
        }
        .model-career-box > li:nth-child(3n-1){
            margin: 0 27px;
        }
        .model-career-box > li:nth-child(1),
        .model-career-box > li:nth-child(2),
        .model-career-box > li:nth-child(3) {
            border: none;
        }

/* model - gallery */
#model-gallery {
    width: 100%;
    padding: 50px 0;
    background-color: #f1f1f1;
}
    #model-gallery > h3 {
        width: 1200px;
        margin: 30px auto;
        font-size: 25px;
        font-weight: 500;
    }
    .model-gallery-box {
        width: 1200px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .model-gallery-box > div {
        width: 288px;
        height: 300px;
        margin: 12px 6px;
        /* height: auto; */
        cursor: pointer;
        overflow: hidden;
        background-color: #fff;
        /* position: relative; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .model-gallery-box > div > img {
        width: auto;
        height: 100%;
        transition: .4s;
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); */
    }
    .model-gallery-box > div:hover > img{
        transform: scale(1.2);
    }


/* model - video */
#model-video {
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.model-video-box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.model-video-box > iframe {
    width: 100%;
    /* height: auto; */
}

/* model - contact */
#model-contact {
    width: 100%;
    height: 300px;
    background-color: #efefef;
}

/* pop-up */
.pop-up-all {
    position: relative;
    width: 100%;
    height: 100%;
}
.pop-up-back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 300;
}
.pop-up-show {
    width: 600px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
}
.pop-up-show > img {
    width: 100%;
    height: auto;
}
