/* 초기화 코드 */
@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.in {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

/* header-contact */
#header-contact {
    width:100%;
    height:45px;
    background-color: #f44336;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-contact > li {
    margin: 0 15px;
}

/* header */
header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 300;
}

    #header-menu > li  {
        float: left;
        margin: 0 17px;
        height: 40px;
        display: block;
        line-height: 40px;
    }
    #header-menu > li:hover,
    #header-menu > li.active {
        border-bottom: 2px solid #f00;
    }

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: #ddd;
    padding: 30px 0;
}
footer > .footer-div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-div > a {
    flex: 1;
    position: relative;
}
.footer-div > a > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
}
.footer-div > ul {
    flex: 5;
}
.footer-div > ul > li,
.footer-div > div > p {
    color: #898989;
    font-size: 14px;
    margin: 6px 0;
}
.footer-div > ul > li > a {
    color: #343434;
    font-size: 16px;
    transition: .15s;
}
.footer-div > ul > li > a:hover {
    color: #f00;
    font-size: 16px;
}
.footer-div > div {
    flex: 4;
}
.footer-div > div > * {
    float: right;
}
#footer-sns {
    margin: 12px 0;
}
#footer-sns > div {
    width: 40px;
    height: 40px;
    border: 1px solid #343434;
    border-radius: 50%;
    float: left;
    margin: 0 6px;
    color: #343434;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
    font-size: 15px;
}
/* #call-under {
    width: 65px;
    height: 65px;
    background-color: #f44336;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #fff;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, .2);
    cursor: pointer;
} */

/* main-section */
#main {
    width: 100%;
    height: 960px;
    position: relative;
    overflow: hidden;
}
    #main > span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        opacity: .5;
        font-size: 50px;
        cursor: pointer;
    }
    .main-slide-left {
        left: 100px;
    }
    .main-slide-right {
        right: 100px;
    }
#main-video {
    margin: 0;
    width: 100%;
    height: auto;
}
#main-video > video {
    width: 100%;
    height: auto;
}
#main-tab {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
#main-tab > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
#main-tab > div > div {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    font-size: 30px;
}
#main-tab > div > div > img {
    width: 100%;
    height: auto;
}
.main-tab-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s;
}.main-tab-cover > a{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.main-tab-cover:hover {
    opacity: 1;
}
/* #main-tab > div > div > h3 {
    font-weight: 300;
    font-size: 30px;
}
#main-tab > div > div >.main-tab-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    opacity: .4;
}
.main-tab-cheer {
    background-color: #e44c41;
}
.main-tab-girl {
    background-color: #fa812a;
} */
#main-slide {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    background-color: #ddd;
    display: flex;
}
#main-slide > div {
    flex: 1;
}
#main-slide > div > img {
    width: 100%;
    height: 100%;
}

#main-contact {
    color: #fff;
    background-color: #111;
    /* background-image: url(/img/page/contact.png); */
    /* background-size: cover; */
}
.main-box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding:  100px 0;
}

.main-box-title {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}
.main-box-title > h3 {
    font-weight: 800;
}
.main-box-title > div {
    width: 120px;
    height: 2px;
    background-color: #f00;
    margin: 20px auto;
}

.main-contact-boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.main-contact-boxes > div {
    flex: 1;
    margin: 0 15px;
}
.contact-box {
    margin-bottom: 21px;
}
.contact-box > p  {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 6px;
}
.contact-box > p  > span {
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #f00;
    border-radius: 50%;
    margin-left: 6px;
}
.contact-box > input,
.contact-box > textarea {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    height: 30px;
    color: #fff;
    padding: 3px;
}
.contact-box > textarea {
    height: 70px;
    resize: none;
}
.contact-box > input[type=number]{
    width: 70px;
}
.contact-box > input::-webkit-outer-spin-button,
.contact-box > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact-box > span {
    margin: 0 10px;
}

.main-contact-boxes > div > button {
    width: 100%;
    height: 30px;
    background-color: #f00;
    color: #fff;
}

.main-contact-boxes > div > iframe {
    width: 100%;
    height: 100%;
}