/* 예우엔터테인먼트 페이지 - /yewoo */

#company-title {
    width: 100%;
    /* height: 900px; */
    height: 780px;
    background-color: #f8f8f8;
    overflow: hidden;
    position: relative;
}
    .circle {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #circle-1 {
        /* background-color: #db9dfc; */
        background: none;
        /* opacity: .4; */
        border: 10px solid #fff;
        /* width: 1900px; */
        /* height: 1900px; */
        width: 1000px;
        height: 1000px;
    }
    /* #circle-2 {
        background-color: #db9dfc;
        opacity: .6;
        width: 1400px;
        height: 1400px;
    }
    #circle-3 {
        background-color: #c169f0;
        opacity: .2;
        animation: zoom-in-out 13s infinite;
    } */

    #company-title > h3 {
        position: absolute;
        left: 50%;
        top: 250px;
        transform: translateX(-50%);
        /* color: #fff; */
        font-size: 75px;
        text-align: center;
        line-height: 0.7;
    }
    #company-title > h3 > span {
        width: 100%;
        display: inline-block;
        height: 2.5px;
        /* background-color: #fff; */
        background-color: #000;
        opacity: .2;
        margin-bottom: 24px;
    }
    #company-title > h2 {
        position: absolute;
        left: 50%;
        bottom: 230px;
        transform: translateX(-50%);
        /* color: #fff; */
        /* color: #777; */
        opacity: .7;
        font-size: 30px;
        text-align: center;
        line-height: 1.2;
    }

    @keyframes zoom-in-out {
        0% {
            width: 500px;
            height: 500px;
        }
        
        50% {
            width: 2500px;
            height: 2500px;
        }

        100% {
            width: 500px;
            height: 500px;
        }
    } 
#company-intro {
    width: 100%;
    height: 1200px;
    /* background-color: #f75d4d; */
    background-image: url(/img/page/company-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 190px 0 120px;
}
#company-intro > div {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}
#company-intro > div > * {
    flex: 1;
    margin: 0 40px;
}
#company-intro > div > h3 {
    text-align: right;
    padding-right: 40px;
    font-size: 80px;
}
#company-intro > div > div {
    color: #c6c8d6;
    padding: 20px 0 0 40px;
    
}
#company-intro > div > div >p {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.8;
}
    .company-tab {
        width: 1140px;
        height: 300px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .company-tab > div {
        width: 540px;
        height: 100px;
        border-top: 1px solid rgba(255,255,255,.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .company-tab > div >h3 {
        color: #b9bfe1;
        font-size: 16px;
        margin-bottom: 6px;
    }
    .company-tab > div >p {
        font-size: 14px;
    }
    .company-tab > div:nth-child(5),
    .company-tab > div:nth-child(6) {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
#company-leadership {
    width: 100%;
    height: 1000px;
    background-color: #111;
}
#company-family {
    width: 100%;
    height: 1000px;
    background-color: #222;
}
#company-gallery {
    width: 100%;
    height: 1000px;
    background-color: #333;
}

#company-contact {
    width: 100%;
    height: 1000px;
    background-color: #000;
}